<h1>Welcome</h1>

<%= link_to "Update the text below", "#" %>

<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue 
  massa non eros rhoncus hendrerit. Fusce tortor dolor, condimentum et 
  aliquet at, porta at sapien. Nullam pulvinar eu erat ut commodo. Pellentesque 
  laoreet nulla a tellus feugiat laoreet. Donec sodales sem accumsan posuere 
  mollis. Cras et iaculis orci, sit amet posuere tortor. Proin libero tellus, 
  luctus quis ex at, aliquam tempus mauris. Quisque congue tempus velit sed 
  cursus. Maecenas condimentum felis massa, in finibus enim ullamcorper eget.</p>

  <p>Vestibulum in ex semper, rutrum nunc et, pharetra massa. Fusce sit amet 
  purus risus. Cras ac ullamcorper urna. Maecenas pretium eget diam vel rutrum. 
  Quisque in ante sapien. Etiam imperdiet ante ac elit tristique pretium. Sed 
  tristique est non nisl vulputate fermentum. Maecenas egestas risus vitae 
  tristique tincidunt.</p>
</div>
